


h1{
    font-size: 53px;
    color: #723151;
}


/* Instgram */

.instaDiv{
    border: 2px solid black;

    background-color: aliceblue;
    border-radius: 15px;
    display: flex;
    flex-grow: 1;
    /* /* align-items: center; */
    justify-content: center;
    margin-bottom: 20px;
    

}
.iimg{
    height: 100px;
    width: auto;
}
.internalDiv1{
    display:flex;
    justify-content: space-between;
    
}

/* WhatsApp */
.whatsappDiv{
     border: 2px solid black;
    background-color: aliceblue;
    border-radius: 15px;
    display: flex;
    flex-grow: 1;
    /* /* align-items: center; */
    justify-content: center;
    margin-bottom: 20px;

}
.internalDiv2{
    display:flex;
    justify-content: space-between;
}

.locationDiv{
     border: 2px solid black;
    background-color: aliceblue;
    border-radius: 15px;
    display: flex;
    flex-grow: 1;
    /* /* align-items: center; */
    justify-content: center;
    margin-bottom: 20px;

}
.internalDiv3{
    display:flex;
    justify-content: space-between;
}
.lh3{
    margin-left: 5px;
}